@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #000000 !important;
}
div::-webkit-scrollbar{
    display:none
}
.text_bg_color{
    color: rgba(255, 255, 255, 0);
    /*display: inline-block;*/
    background: linear-gradient(90deg, rgb(255, 255, 0) 3%,
    rgb(255, 165, 0) 12%, rgb(241, 68, 68) 23%,
    rgb(213, 53, 103) 27%, rgb(154, 16, 154) 47%,
    rgb(154, 16, 154) 53%, rgb(213, 53, 103) 72%,
    rgb(241, 68, 68) 77%, rgb(255, 165, 0) 88%,
    rgb(255, 255, 0) 97%) left center/ 200% 100% ;
    transition: all 256ms ease 0s;
    background-position: left center;
    background-clip: text;
    -webkit-background-clip: text;
}
.text_bg_color:hover{
    background-position: right center !important;
}
/*@import './base.css';*/

